.alertContainer{
  display: none;
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.winnerAlert{
  display: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%) ;
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: transparent;
  height: 300px;
  width: 300px;
  animation: winAnimation 1s infinite;
}

@keyframes winAnimation{
  0%{
    
  }
  100%{
    width: 320px;
    height: 320px;
  }
}
